<form action="/addcontinent" method="POST">
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <label>Continent Name</label>
                <input placeholder="Continentname" name="continentname" type="text">
            </div>
            <div class="field">
                <label>Continent location</label>
                <input placeholder="continentlocation" name="continentlocation" type="text">
            </div>

        </div>
    </div>
    <button class="ui yellow button" type="submit" >Save Continent</button>
</form>