<form action="/addcountry" method="POST">
    <div class="ui form">
        <div class="fields">
            <div class="field">
                <label>Country Name</label>
                <input placeholder="Countryname"
                       id="Countryname" type="text" name="Countryname">
            </div>
            <div class="field">
                <label>Continentid</label>
                <input placeholder="Continentid" name="Continentid" type="text">
            </div>
            <div class="field">
                <label>Population</label>
                <input placeholder="Population" name="Population" type="text">
            </div>
        </div>
    </div>
    <button class="ui green button" type="submit" >Save Country</button>
</form>
